  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 23px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    padding: 10px;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  #object_name, #accuracy_number
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .copy_right_footer{
    position: fixed;
    background-color: aqua;
    width: 100%;
    line-height: 3;
    bottom: 0;
    text-align: center;
  }

  canvas{
    box-shadow: 5px 5px 5px grey;
    border-radius: 30px;
    border: 5px dashed black;
   margin-top: 150px;
  }
  #object_name{
    white-space: pre-line;
  }


  